venv/
fg_venv/
__pycache__/
.idea/
OfflineAnalysis/BSDS300-human/
OfflineAnalysis/BSDS300/
OfflineAnalysis/FGgroundtruthangles.png
OfflineAnalysis/FGgroundtruthlegend.png
OfflineAnalysis/GroundTruth/
OfflineAnalysis/csvresults/
OfflineAnalysis/fgcode/
OfflineAnalysis/readsegmentationBSDS.asv
OfflineAnalysis/segbench/
OfflineAnalysis/fgsegresults/
FG_RNN/images/
FG_RNN/output/
OfflineAnalysis/GTFGEDFG.jpg
OfflineAnalysis/edfg.jpg
OfflineAnalysis/fbfg.jpg
OfflineAnalysis/gt.jpg
Berkleyresults/
OfflineAnalysis/*.mat
*.mat
OfflineAnalysis/comparisonFBEDFG/

